# Build directory
/build/

# CMake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CTestTestfile.cmake
*.cmake

# Temporary files
*.o
*.so
*.a
*.exe
*.out
*.dSYM/
*.user
*.swp
*.tmp
*.egg-info

# IDE specific files (if you're using any IDE)
# Uncomment for Visual Studio Code
.vscode/
# Uncomment for CLion
.idea/
# Uncomment for Visual Studio
.vs/

# Logs and database files
*.log
*.sqlite

# Any other custom files that you do not want to track
# Ignore test executables
/tests/SplineNetLibTests
# Ignore Catch2 build files (optional)
third_party/Catch2/build/

# CMake debug files
CMakeDebug.log